/* Nicole Snow
   styles for www.nickisnow.com
*/


/* ---------main structure styles--------- */
body	{
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 1.7em;
	background-color: #000000;
	background: #000000 url("../img/starfield_background.jpg") repeat fixed;
	position: relative;
}
.container {
	width: 100%;
	height: 100%;
	padding: 0 2.5% 25px 2.5%;
	margin: 0px auto 40px auto;
}

html, body {
    height: 100%;
    margin: 0px;
}

header.fill {
	width: 100%;
	min-height: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.6);
	padding: 15px 15%;
}

.row {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 0 50px 0;
}

.separator {
  margin: 0 auto;
  background: url(../img/separator.png);
  height: 9px;
  width: 576px;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0));
	width: 90%;
	margin: 0 auto;
}

.divide {
	background-color: #fff;
}

/* ---------text styles--------- */
h1, .white {
	color: #fff;
}

h2 {
	width: 100%;
	background-color: hsla(360, 100%, 100%, 0.8);
	margin: 0;
	padding: 15px;
	text-align: center;
}

.textMiddle {
	padding-top: 7%;
	padding-bottom: 7%;
	vertical-align: middle;
	display: inline-block;
}

/* ---------image styles--------- */
img {
	float: left;
	padding: 0 !important;
	border: #424242 solid 2px;
}

#portrait {
	background-color: hsla(0, 0%, 0%, 0);
}

/* ---------list styles--------- */
ul > li {
	list-style: none;
}

/* ---------form styles--------- */
textarea {
	margin-top: 15px;
}
